# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]

bind-address        = master_shard_1
server-id           = 101
gtid-domain_id      = 1
log_bin             = /var/log/mysql/mariadb-bin
relay_log           = /var/log/mysql/relay-bin