# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]

bind-address        = master_shard_2
server-id           = 102
gtid-domain_id      = 2
log_bin             = /var/log/mysql/mariadb-bin
binlog_format       = MIXED
relay_log           = /var/log/mysql/relay-bin