# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]

read_only
replicate_ignore_db = mysql,information_schema,performance_schema
#bind-address        = slave
server-id           = 100
log_bin             = /var/log/mysql/mariadb-bin
binlog_format       = MIXED
#relay_log           = /var/log/mysql/relay-bin
log_slave_updates   = ON
slave-skip-errors   = 1046

